@font-face {
  font-family: 'AvenirNext';
  src:url("../fonts/AvenirNext-Regular.ttf") format('truetype');
  src: url("../fonts/AvenirNext-Regular.woff") format('woff');
  src:url("../fonts/AvenirNext-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'AvenirNext';
  src:url("../fonts/AvenirNext-Medium.ttf") format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'AvenirNext';
  src:url("../fonts/AvenirNext-DemiBold.ttf") format('truetype');
  src: url("../fonts/AvenirNext-DemiBold.woff") format('woff');
  src:url("../fonts/AvenirNext-DemiBold.woff2") format('woff2');
  font-style: normal;
  font-weight: 600;
}

html {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  overflow-y:auto;
}

body{
  overflow: hidden;
    color: #000;
}

#site-footer {
  overflow: hidden;
}
.back-to-top {
  background-color: #000000;
  text-align:center;
  left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
  margin-top:56px;
  padding:32px 0 32px 0;
}
.back-to-top a {
  font-family: 'AvenirNext', sans-serif;
  font-style:normal;
  font-weight: 400;
  font-size:28px;
  line-height: 38px;
  color:#FFFFFF;
}
.back-to-top a:hover {
  text-decoration: line-through;
}
.body-content {
  max-width:90%;
  margin:auto;
}
.body-content a {
  font-family: 'AvenirNext', serif;
  font-style:normal;
  font-weight: 600;
  font-size:16px;
  line-height: 24px;
  text-decoration: underline;
  color:#000000;
}
.navbar {
  padding-top:16px;
  padding-bottom:16px;
}
.navbar li {
  margin:auto;
  padding:16px 0 16px 0;
  font-family: 'AvenirNext', sans-serif;
  font-style:normal;
  font-weight: 400;
  font-size:37px;
  line-height: 41px;
}

.navbar li:nth-child(1) {
  padding-top:48px;
}

.navbar li:nth-child(4) {
  padding-bottom:48px;
}

.navbar-brand{
  padding-left:8px;
}

.main-content > .container{
  padding-top:120px;
  display:block;
  max-width:96%;
  margin-left: auto;
  margin-right: auto;
  height:auto;
}
.main-content .container {
  padding-top:100px;
}
.main-content .container img{
  display:inline-block;
  position: absolute;
  max-width:500px;
}

.pbold {
  font-family: 'AvenirNext', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.text-muted {
  font-family: 'AvenirNext', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color:#D4D4D4 !important;
  margin: auto;
}
h3 {
  font-family: 'AvenirNext', sans-serif;
  font-style:normal;
  font-weight: 400;
  font-size:29px;
  line-height: 38px;
  padding-bottom:8px;
}
h5 {
  font-family: 'AvenirNext', sans-serif;
  font-style:normal;
  font-weight: 500;
  font-size:14px;
  line-height: 22px;
  color: #c2c2c2;
  letter-spacing: .2px;
  margin-bottom: 5px;
}

p  {
  font-family: 'AvenirNext', serif;
  font-style:normal;
  font-weight: 400;
  font-size:16px;
  line-height: 24px;
  padding-bottom:24px;
}
.navbar-brand{
  padding-left:8px;
}


#about .Thumbs {
  width:34%;
  height:auto;
  left:11%;
  top:26%;
  box-shadow:0px 5px 15px rgba(75,75,75,0.3);
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 0.1s;
  -moz-animation-iteration-count: 1;
  -ms-animation-duration: 2s;
  -ms-animation-delay: 0.1s;
  -ms-animation-iteration-count: 1;
}

#about .Palms {
  width:32%;
  height:auto;
  left:60%;
  top:40%;
  box-shadow:0px 5px 15px rgba(75,75,75,0.3);
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 0.2s;
  -moz-animation-iteration-count: 1;
  -ms-animation-duration: 2s;
  -ms-animation-delay: 0.2s;
  -ms-animation-iteration-count: 1;
}

#about .JT {
  width:60%;
  height:auto;
  left:28%;
  top:16%;
  box-shadow:0px 5px 15px rgba(75,75,75,0.3);
  -webkit-animation-duration: 2.3s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 2.3s;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: 1;
  -ms-animation-duration: 2.3s;
  -ms-animation-delay: 0s;
  -ms-animation-iteration-count: 1;
}

main {
  margin-top:40vh !important;
}

#nav_bar {
  visibility: hidden;
}
#nav_bar ul {
  flex-wrap: wrap;
}
#site-footer {
  background-color: #000000;
}
#site-footer .footer i{
  padding-top:30px;
  padding-right:20px;
  padding-bottom:20px;
  margin:auto;
}
#site-footer .footer span {
  font-size:14px;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
.span-hide{
  display:none;
}
  #site-footer .footer a:nth-child(1) {
    padding-bottom: 20px;
  }
}
main {
  margin-top:50vh !important;
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .btn,
  .btn:hover,
  .btn:focus {
    width: 450px;
    margin-bottom: 40px;
  }
  #nav_bar {
      visibility:visible;
  }
  main {
    margin-top:65vh !important;
  }
  #site-footer .footer a:nth-child(1) {
    padding-bottom: 0px;
    float: left;
  }
  #site-footer .footer span {
    float:left;
    margin-top:35px;

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .back-to-top a {
    font-size:28px;
    line-height: 38px;
  }
  .navbar {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right:40px
  }
  .navbar-brand{
    margin-left:-20px;
  }
  .navbar li {
    margin:0;
    padding: 0;
    font-family: 'AvenirNext', sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size:18px;
    line-height: 41px;
  }
  .navbar li:nth-child(1) {
    padding-top:0px;
  }

  .navbar li:nth-child(4) {
    padding-bottom:0px;
  }

  p {
    line-height:24px;
  }

  .main-content {
    max-width:1199.98px;
    margin:auto;
  }
  .body-content .container {
      max-width:840px;
  }
  main {
    margin-top:50vh !important;
  }
  #about .Thumbs {
    width:20%;
    height:auto;
    left:11%;
    top:26%
  }

  #about .Palms {
    width:20%;
    height:auto;
    left:65%;
    top:23%
  }

  #about .JT {
    width:58%;
    height:auto;
    left:28%;
    top:16%
  }

  #navbarNavAltMarkup .navbar-nav > li {
    display: inline-block;
  }
  #navbarNavAltMarkup .navbar-nav > li + li {
    margin-left: 20px;
  }
  #navbarNavAltMarkup .navbar-nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'AvenirNext,', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000000; /* IE8 proofing */
    color: rgba(0,0,0,.75);
  }
  #navbarNavAltMarkup .navbar-nav > li > a:hover,
  #navbarNavAltMarkup .navbar-nav > li > a:focus {
    text-decoration: line-through;
    border-top-color: #B5B5B5;
    border-top-color: rgba(0,0,0,1);
  }
  #site-footer .footer span {
    margin-top:30px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  .navbar {
    padding-right:0px;
    max-width:100%;
  }

  .navbar-brand{
    margin-left:0px;
  }

  main {
    margin-top:60vh !important;
  }
  #about .Thumbs {
    width:16%;
    height:auto;
    left:20%;
    top:30%
  }

  #about .Palms {
    width:17%;
    height:auto;
    left:63%;
    top:23%
  }

  #about .JT {
    width:100%;
    height:auto;
    left:30%;
    top:20%
  }
  #site-footer .footer span {
    float:left;
    margin-left:50px;
    margin-top:20px;
    color:white
  }
}

@media (min-width: 1300px) {
  .container {
    max-width:1280px;
  }
  main {
    margin-top:45vh !important;
  }
  #about .Thumbs {
    width:11%;
    height:auto;
    left:31%;
    top:26%
  }

  #about .Palms {
    width:12%;
    height:auto;
    left:56%;
    top:19%
  }

  #about .JT {
    width:33%;
    height:auto;
    left:38%;
    top:16%
  }
  #site-footer .footer span {
    float:left;
    margin-left:23px;
    margin-top:25px;
  }
}
