body {
  color: #000;
}
.container {
  max-width:1000px;
}
.main-content > .container{
  padding-top:120px;
  display:block;
  max-width:96%;
  margin-left: auto;
  margin-right: auto;
  height:auto;
}
.main-content .container {
  padding-top:100px;
}
.main-content .container img{
  display:inline-block;
  position: absolute;
  max-width:500px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: 1;

}

h3, p {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 700i;
  font-size: 24px;
  line-height: 28px;
}

p {
  font-weight:500;
  font-style: normal;
  font-size:18px;
  line-height:26px;
}

.btn,
.btn:hover,
.btn:focus {
  font-family: 'Cormorant Garamond', serif;
  font-style:italic;
  font-weight: 600i;
  font-size:18px;
  color: #FFF;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #000;
  border-color: #000;
  border-radius: 0px 0px;
  width: 150px;
  margin-bottom: 40px;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #FFF;
  color:#737373;
}
#about .Thumbs {
  width:34%;
  height:auto;
  left:11%;
  top:26%;
  box-shadow:0px 5px 15px rgba(75,75,75,0.3);
}

#about .Palms {
  width:32%;
  height:auto;
  left:60%;
  top:40%;
  box-shadow:0px 5px 15px rgba(75,75,75,0.3);
}

#about .JT {
  width:60%;
  height:auto;
  left:28%;
  top:16%;
  box-shadow:0px 5px 15px rgba(75,75,75,0.3);
}

main {
  margin-top:40vh !important;
}
#site-footer {
  background-color: #000000;
}

#site-footer .footer i{
  padding-top:30px;
  padding-right:20px;
  padding-bottom:20px;
}

#site-footer .footer span {
  font-size:14px;
}



/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  .btn,
  .btn:hover,
  .btn:focus {
    width: 350px;
    margin-bottom: 40px;
  }
}
main {
  margin-top:50vh !important;
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .btn,
  .btn:hover,
  .btn:focus {
    width: 450px;
    margin-bottom: 40px;
  }
  main {
    margin-top:65vh !important;
  }
  #site-footer .footer a:nth-child(1) {
    padding-bottom: 20px;
    float: left;
  }
  #site-footer .footer span {
    float:left;

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .navbar{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right:40px
  }
  p {
    line-height:27px;
  }
  .container {
    max-width:1180px;
  }
  .body-content .container {
      max-width:840px;
  }
  main {
    margin-top:50vh !important;
  }
  #about .Thumbs {
    width:20%;
    height:auto;
    left:11%;
    top:26%
  }

  #about .Palms {
    width:20%;
    height:auto;
    left:65%;
    top:23%
  }

  #about .JT {
    width:58%;
    height:auto;
    left:28%;
    top:16%
  }

  #navbarNavAltMarkup .navbar-nav > li {
    display: inline-block;
  }
  #navbarNavAltMarkup .navbar-nav > li + li {
    margin-left: 20px;
  }
  #navbarNavAltMarkup .navbar-nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'futura','futura-pt-bold', 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000; /* IE8 proofing */
    color: rgba(0,0,0,.75);
    border-top: 1px solid black;
  }
  #navbarNavAltMarkup .navbar-nav > li > a:hover,
  #navbarNavAltMarkup .navbar-nav > li > a:focus {
    border-top: 4px solid;
    background-color: transparent;
    border-top-color: #000;
    border-top-color: rgba(0,0,0,1);
  }
  #navbarNavAltMarkup .navbar-nav > .active > a,
  #navbarNavAltMarkup .navbar-nav > .active > a:hover,
  #navbarNavAltMarkup .navbar-nav > .active > a:focus {
    color: #000;
    border-top: 4px solid;
    border-top-color: #000;
  }

  #site-footer .footer span {
    margin-top:30px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  h3, p {
    font-size: 24px;
    line-height: 27px;
  }

  p {
    font-size:18px;
    line-height:26px;
  }
  main {
    margin-top:60vh !important;
  }
  #about .Thumbs {
    width:16%;
    height:auto;
    left:20%;
    top:30%
  }

  #about .Palms {
    width:17%;
    height:auto;
    left:63%;
    top:23%
  }

  #about .JT {
    width:100%;
    height:auto;
    left:30%;
    top:20%
  }
  #site-footer .footer span {
    float:left;
    margin-left:50px;
    margin-top:30px;
    color:white
  }
}

@media (min-width: 1300px) {
  .container {
    max-width:1060px;
  }
  main {
    margin-top:45vh !important;
  }
  #about .Thumbs {
    width:11%;
    height:auto;
    left:31%;
    top:26%
  }

  #about .Palms {
    width:13%;
    height:auto;
    left:60%;
    top:19%
  }

  #about .JT {
    width:33%;
    height:auto;
    left:38%;
    top:16%
  }
  #site-footer .footer span {
    float:left;
    margin-left:27px;
  }
}
