body {
  color: #000;
}


.hero-content {
  margin-top:100px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 90px;
}


h1 {
  font-family: 'futura-pt-bold', 'Open Sans', sans-serif;
  font-style:normal;
  font-weight: 700;
  font-size:36px;
  line-height: 35px;
}
h2 {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.hero-content > h2 > a {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}

h4, h5, h6 {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

h4 {
  font-family: 'Cormorant Garamond', serif;
  font-style:normal;
  font-weight: 600;
  font-size:18px;
  line-height: 35px;
}

h5 {
  font-family: 'futura-pt-bold', 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
}

h6 {
  font-family: 'Cormorant Garamond', serif;
  font-style:normal;
  font-weight: 500;
  font-size:14px;
  line-height: 35px;
  text-align: left;
  padding-top: 20px;
}



/* Case Study Background colors */
.MountainRack {
  background-color: #E58F0D;
  padding-top: 27px;
}
.ExpertMe {
  background-color: #273645;
  padding-top: 27px;
}
.blocbox {
  background-color: #317381;
  padding-top: 27px;
}

/* Rectangle size & colors */
.rectangle {
  height: 40px;
  width: 100%;
}
.MountainRack .rectangle {
  background-color: #F5A623;
}
.ExpertMe .rectangle {
  background-color: #2F4A65;
}
.blocbox .rectangle {
  background-color: #4E8F9D;
}

.case-study {
margin-bottom: 100px;
}

.carousel-inner img {
  height: auto;
  width: 100%;
  overflow:hidden;
}

.btn,
.btn:hover,
.btn:focus {
  font-family: 'Cormorant Garamond', serif;
  font-style:italic;
  font-weight: 600i;
  font-size:18px;
  color: #FFF;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #000;
  border-color: #000;
  border-radius: 0px 0px;
  width: 150px;
  margin-bottom: 40px;
}

#site-footer {
  background-color: #000000;
}

#site-footer .container i{
  padding-top:30px;
  padding-right:20px;
  padding-bottom:20px;
}

#site-footer .container span {
  font-size:14px;
}



/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .hero-content {
    padding-top: 200px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 260px;
  }

  .btn,
  .btn:hover,
  .btn:focus {
    width: 350px;
    margin-bottom: 40px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .hero-content {
    padding-top: 200px;
    padding-left: 40px;
    padding-bottom: 260px;
  }
  h1 {
    font-size:42px;
    line-height: 35px;
  }
  h2 {
    font-size: 30px;
    line-height: 37px;
  }

  .hero-content > h2 > a {
    font-size: 34px;
    line-height: 37px;
  }

  .btn,
  .btn:hover,
  .btn:focus {
    width: 450px;
    margin-bottom: 40px;
  }

  #site-footer .container i:nth-child(1) {
    padding-left: 40px;
    padding-bottom: 20px;
    float: left;
  }
  #site-footer .container span {
    float:left;
    margin-left:40px;
    margin-top:30px;
  }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .navbar{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right:40px
  }
  .navbar-brand {
    padding-left: 20px;
  }
  .navbar-nav > li {
    display: inline-block;
  }
  .navbar-nav > li + li {
    margin-left: 20px;
  }
  .navbar-nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'futura-pt-bold', 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000; /* IE8 proofing */
    color: rgba(0,0,0,.75);
    border-top: 1px solid black;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    border-top: 4px solid;
    background-color: transparent;
    border-top-color: #000;
    border-top-color: rgba(0,0,0,1);
  }
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: #000;
    border-top: 4px solid;
    border-top-color: #000;
  }

  h1,h2 {
    font-size:46px;
    line-height: 52px;
  }
  .hero-content > h2 > a {
    font-size: 46px;
    line-height: 52px;
  }
  .rwd-line {
    display:block;
  }
  h4 {
    font-size:18px;
    line-height: 30px;
  }
  h5 {
    font-size: 27px;
    line-height: 32px;
    padding-bottom:20px;
  }
  h6 {
    font-size:16px;
    line-height: 2px;
  }
  .hero-content{
    padding-left:110px;
    padding-right:110px;
    padding-bottom:400px;
  }
  .case-studies {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .navbar{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navbar-brand{
    padding-left: 20px;
  }
  h1,h2 {
    font-size:46px;
    line-height: 52px;
  }
  .hero-content > h2 > a {
    font-size: 46px;
    line-height: 52px;
  }

  h4 {
    font-size:21px;
    line-height: 30px;
  }
  h5 {
    font-size: 30px;
    line-height: 35px;
    padding-bottom:20px;
  }
  h6 {
    font-size:18px;
    line-height: 30px;
  }
  .hero-content{
    padding-left:110px;
    padding-right:110px;
    padding-bottom:400px;
  }
  .case-studies {
    padding-left: 40px;
    padding-right: 40px;
  }
  #site-footer .container i:nth-child(1) {
    padding-left: 40px;
    padding-bottom: 20px;
    float: left;
  }
  #site-footer .container span {
    float:left;
    margin-left:100px;
    margin-top:30px;
  }
}
