body {
  color: #000;
}
.container {
  max-width:1000px;
}
a.anchor{
  display: block;
  position:relative;
  top:-120px;
  visibility:hidden;
}
.navbar-brand{
  padding-left:8px;
}
.work-anchor h4 {
    font-family: 'futura', 'futura-pt-bold', 'Hind', sans-serif;
    color: #8B8B8B;
    font-style:normal;
    font-weight:500;
    font-size:20px;
    line-height:29px;
    text-align: center;
    padding-bottom:40px;
}

.hero-content {
  margin-top:80px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 90px;
}
.hero-content .container{
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -ms-animation-duration: 1.5s;
  -ms-animation-delay: 0s;
  -ms-animation-iteration-count: 1;
  -moz-animation-duration: 1.5s;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: 1;
}
.hero-content i{
  text-align:center;
  display:inline-block;
  width:100%;
  font-size:90px;
  color:black;
  padding-top:50px;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
  -ms-animation-duration: 1.5s;
  -ms-animation-delay: 0.5s;
  -ms-animation-iteration-count: 1;
  -moz-animation-duration: 1.5s;
  -moz-animation-delay: 0.5s;
  -moz-animation-iteration-count: 1;
}

h1 {
  font-family: 'futura','futura-pt-bold', 'Hind', sans-serif;
  font-style:normal;
  font-weight: 600;
  font-size:29px;
  line-height: 35px;
}
h2 {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.hero-content > h2 > a {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}

h4, h5, h6 {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


h4 {
  font-family: 'Cormorant Garamond', serif;
  font-style:normal;
  font-weight: 600;
  font-size:20px;
  line-height: 35px;
}

h5 {
  font-family: 'futura','futura-pt-bold', 'Hind', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
}

h6 {
  font-family: 'Cormorant Garamond', serif;
  font-style:normal;
  font-weight: 500;
  font-size:16px;
  line-height: 35px;
  text-align: left;
  padding-top: 20px;
}

/* Case Study Background colors */
.MountainRack {
  background-color: #E58F0D;
  padding-top: 27px;
}
.ExpertMe {
  background-color: #273645;
  padding-top: 27px;
}
.blocbox {
  background-color: #317381;
  padding-top: 27px;
}

/* Rectangle size & colors */
.rectangle {
  height: 40px;
  width: 100%;
}
.MountainRack .rectangle {
  background-color: #F5A623;
}
.ExpertMe .rectangle {
  background-color: #2F4A65;
}
.blocbox .rectangle {
  background-color: #4E8F9D;
}


.case-studies i {
  position: relative;
  top: 7px;
  left: 3px;
}

.case-study {
  margin-bottom: 100px;
}

.carousel-inner img {
  height: auto;
  width: 100%;
  overflow:hidden;
}

.btn,
.btn:hover,
.btn:focus {
  font-family: 'Cormorant Garamond', serif;
  font-style:italic;
  font-weight: 600i;
  font-size:18px;
  color: #FFF;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #000;
  border-color: #000;
  border-radius: 0px 0px;
  width: 150px;
  margin-bottom: 40px;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #FFF;
  color:#737373;
}
#site-footer {
  background-color: #000000;
}

#site-footer .footer i{
  padding-top:30px;
  padding-right:20px;
  padding-bottom:20px;
}

#site-footer .footer span {
  font-size:14px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .hero-content {
    padding-top: 200px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 160px;
  }
  h1 {
    font-size:36px;
    line-height: 35px;
  }
  h2 {
    font-size: 32px;
    line-height: 37px;
  }
  .btn,
  .btn:hover,
  .btn:focus {
    width: 350px;
    margin-bottom: 40px;
  }
  #site-footer .footer a:nth-child(1) {
    padding-bottom: 20px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .hero-content {
    padding-top: 200px;
    padding-left: 40px;
    padding-bottom: 260px;
  }

  .hero-content > h2 > a {
    font-size: 34px;
    line-height: 37px;
  }
  .hero-content i{
    padding-top:100px;
  }

  .btn,
  .btn:hover,
  .btn:focus {
    width: 450px;
    margin-bottom: 40px;
  }


  #site-footer .footer a:nth-child(1) {
    padding-bottom: 0px;
    float: left;
  }
  #site-footer .footer span {
    float:left;

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .navbar{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right:40px
  }
  .navbar-brand{
    margin-left:-20px;
  }
  .hero-content i{
    font-size:90px;
    padding-top:250px;
  }
  .container {
    max-width:1180px;
  }
  .body_copy .container{
    max-width:840px;
  }
  #navbarNavAltMarkup .navbar-nav > li {
    display: inline-block;
  }
  #navbarNavAltMarkup .navbar-nav > li + li {
    margin-left: 20px;
  }
  #navbarNavAltMarkup .navbar-nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'futura','futura-pt-bold', 'Hind', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000; /* IE8 proofing */
    color: rgba(0,0,0,.75);
    border-top: 1px solid black;
  }
  #navbarNavAltMarkup .navbar-nav > li > a:hover,
  #navbarNavAltMarkup .navbar-nav > li > a:focus {
    border-top: 4px solid;
    background-color: transparent;
    border-top-color: #000;
    border-top-color: rgba(0,0,0,1);
  }
  #navbarNavAltMarkup .navbar-nav > .active > a,
  #navbarNavAltMarkup .navbar-nav > .active > a:hover,
  #navbarNavAltMarkup .navbar-nav > .active > a:focus {
    color: #000;
    border-top: 4px solid;
    border-top-color: #000;
  }

  h1,h2 {
    font-size:44px;
    line-height: 50px;
  }

  .hero-content > h2 > a {
    font-size: 46px;
    line-height: 52px;
  }
  .rwd-line {
    display:block;
  }
  h4 {
    font-size:18px;
    line-height: 30px;
  }
  h5 {
    font-size: 22px;
    line-height: 28px;
  }
  h6 {
    font-size:16px;
    line-height: 2px;
    padding-bottom: 20px;
  }

  .case-studies {
    padding-left: 40px;
    padding-right: 40px;
  }

  .MountainRack {
    padding-top: 20px;
  }
  .ExpertMe {
    padding-top: 20px;
  }
  .blocbox {
    padding-top: 20px;
  }

  #site-footer .footer span {
    margin-top:35px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .navbar-brand{
    margin-left: 0px;
  }
  h1,h2 {
    font-size:46px;
    line-height: 52px;
  }
  .hero-content > h2 > a {
    font-size: 46px;
    line-height: 52px;
  }

  h4 {
    font-size:21px;
    line-height: 30px;
  }
  h5 {
    font-size: 30px;
    line-height: 35px;
    padding-bottom:20px;
  }
  h6 {
    font-size:18px;
    line-height: 30px;
  }

  .hero-content{
    padding-top:160px;
    padding-left:110px;
    padding-right:110px;
    padding-bottom:100px;
  }
  .hero-content i{
    padding-top:110px;
  }

  .case-studies {
    padding-left: 40px;
    padding-right: 40px;
  }
  .case-studies .container {
    max-width:1300px;
  }
  #site-footer .footer span {
    float:left;
    margin-left:50px;
    margin-top:30px;
    color:white
  }
}

@media (min-width: 1300px) {
  .hero-content{
    padding-top:300px;
    margin-left:100px;
  }
  .hero-content i{
    padding-top:200px;
    padding-bottom:150px;
  }
  .container {
    max-width:1060px;
  }
  .case-studies .container {
    max-width:1300px;
  }
  #site-footer .footer span {
    float:left;
    margin-left:27px;
  }
}
