body {
  color: #000;
}

.main-content img{
  width:100%
}

.main-content h3 {
  padding-top: 10px;
}

.hero-content img {
  padding-top:50px;
  width:100%;
}

h1 {
  font-family: 'futura-pt-bold', 'Open Sans', sans-serif;
  font-style:normal;
  font-weight: 700;
  font-size:24px;
}

h2{
  font-family: 'futura-pt-bold', 'Open Sans', sans-serif;
  font-style:normal;
  font-weight: 700;
  font-size:24px;
  line-height: 27px;
}

h5 {
  font-family: 'futura-pt-bold', 'Open Sans', sans-serif;
  font-style:normal;
  font-weight: 500;
  font-size:16px;
  line-height: 27px;
}

.header .title {
  padding-top: 20px;
  text-align: center;
}

.container {
  padding-top:10px;
}
.subheader h3 {
  margin-top:10px;
  border-top: 1px solid;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 600i;
  font-size: 20px;
  line-height: 28px;
  margin-left: 20px;
}

p {
  font-family: 'futura-pt-bold', 'Open Sans', sans-serif;
  font-style:normal;
  font-weight: 500;
  font-size:16px;
  line-height: 27px;
  padding-left: 20px;
  padding-right: 20px;
}


.btn,
.btn:hover,
.btn:focus {
  font-family: 'Cormorant Garamond', serif;
  font-style:italic;
  font-weight: 600i;
  font-size:18px;
  color: #FFF;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #000;
  border-color: #000;
  border-radius: 0px 0px;
  width: 150px;
  margin-bottom: 40px;
}

#site-footer {
  background-color: #000000;
}


#site-footer .container a:nth-child(1){
  padding-left:20px;
}

#site-footer .container i{
  padding-top:30px;
  padding-right:20px;
  padding-bottom:20px;
}

#site-footer .container span {
  padding-left:20px;
  font-size:14px;
}



/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  /*.hero-content {
    padding-top: 200px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 260px;
  }*/

  .btn,
  .btn:hover,
  .btn:focus {
    width: 350px;
    margin-bottom: 40px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*.hero-content {
    padding-top: 200px;
    padding-left: 40px;
    padding-bottom: 260px;
  }*/


  .btn,
  .btn:hover,
  .btn:focus {
    width: 450px;
    margin-bottom: 40px;
  }


  #site-footer .container a:nth-child(1) {
    padding-left: 40px;
    padding-bottom: 20px;
    float: left;
  }
  #site-footer .container span {
    float:left;
    margin-left:40px;
    margin-top:30px;
  }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .navbar{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right:40px
  }
  .navbar-brand {
    padding-left: 20px;
  }
  .navbar-nav > li {
    display: inline-block;
  }
  .navbar-nav > li + li {
    margin-left: 20px;
  }
  .navbar-nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'futura-pt-bold', 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000; /* IE8 proofing */
    color: rgba(0,0,0,.75);
    border-top: 1px solid black;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    border-top: 4px solid;
    background-color: transparent;
    border-top-color: #000;
    border-top-color: rgba(0,0,0,1);
  }
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: #000;
    border-top: 4px solid;
    border-top-color: #000;
  }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .navbar{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navbar-brand{
    padding-left: 20px;
  }



  #site-footer .container span {
    float:left;
    margin-left:60px;
    margin-top:30px;
  }
}
